<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Housing</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/housings/<%= housing._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="housing[title]" value="<%= housing.title%>"
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="housing[location]"
                        value="<%= housing.location%>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Housing Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="housing[price]" value="<%= housing.price%>" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="housing[description]"
                        required><%=housing.description%></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add more images</label>
                    <input class="form-control" type="file" id="image" name='image' multiple>
                </div>
                <div class="mb-3">
                    <% housing.images.forEach(function(img, i) { %>
                        <img src="<%= img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]"
                                value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete?</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Housing</button>
                </div>
            </form>
            <a href=" /housings/<%=housing._id%>">Back To Housing</a>
        </div>
    </div>