<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6">
            <div id="housingCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% housing.images.forEach((img, i)=> { %>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                            <img src="<%= img.url%>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if(housing.images.length> 1) { %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#housingCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#housingCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= housing.title%>
                    </h5>
                    <p class="card-text">
                        <%= housing.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= housing.location%>
                    </li>
                    <li class="list-group-item">
                        Posted by <%= housing.author.username%>
                    </li>
                    <li class="list-group-item">$<%= housing.price%>/month</li>
                </ul>
                <% if(currentUser && housing.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/housings/<%=housing._id%>/edit">Edit</a>
                        <form class="d-inline" action="/housings/<%=housing._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
            </div>
        </div>
        <div class="col-6">
            <div id='map'></div>
            <% if (currentUser) { %>
                <h2>Leave a Comment</h2>
                <form action="/housings/<%= housing._id%>/comments" method="POST" class="mb-3 validated-form"
                    novalidate>
                    <div class="mb-3">
                        <label class='form-label' for="body">Comment</label>
                        <textarea class='form-control' name="comment[body]" id="body" cols="30" rows="3"
                            required></textarea>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>
                    <% for(let comment of housing.comments) { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title text-muted">
                                    <%= comment.author.username %>
                                </h5>
                                <p class="card-text">
                                    Comment:
                                    <%= comment.body %>
                                </p>
                                <% if(currentUser && comment.author.equals(currentUser._id)) {%>
                                    <form action="/housings/<%= housing._id%>/comments/<%= comment._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN%>';
        const housing = JSON.parse('<%-JSON.stringify(housing)%>')
    </script>

    <script src="/javascripts/showPageMap.js"></script>